<!-- login.html -->
{% extends 'wrap.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row block-center">
	<div class="col-md-4 col-md-offset-4">
		<h2>Staff Login</h2>
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
		
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			{{ form|crispy }}
			<p  class="text-center"><button class="btn btn-lg" type="submit">Login</button></p>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

	</div>
</div>
{% endblock content %}