body { 
    padding: 0 15px;
    /*min-height: 2000px;*/
    padding-top: 135px;
}

.navbar {
    height: 120px;
    background: url(http://localhost:8000/static/img/logos/NFLRC_name_UH_banner.png) top left no-repeat;
    background-size: contain; 
    background-color: #fff;
}


.navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    z-index: -10
}

.navbar-header {}

.navpanel {
    background: #fff;
    float: right;
}

ul#socialnav img { height: 30px }

.jumbotron { background-color: #fff; }

.submenu {
    /*text-align: center;*/
}
.submenu div {
    font-size: 1.2em;
}

.shadowboxed {
/*    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #CCC;
    font: 12px Arial;*/

    box-shadow: 0 15px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.3);

    transition: transform 0.25s ease;
    -moz-transition: -moz-transform 0.25s ease;
    -webkit-transition: -webkit-transform 0.25s ease;
    -o-transition: -o-transform 0.25s ease;
    -ms-transition: -ms-transform 0.25s ease;

    perspective: 1000;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.category {
    /*position: relative;*/
    height: 80px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    /*border: 1px solid gray;*/
    /*width: 160px;*/
    /*overflow: hidden !important;*/
    text-align: center;
    margin-bottom: 15px;
    /*margin-left: 5px;*/
    /*padding-right: 5px;*/
}

.listing {
    width: 230px;
    margin-bottom: 4px;
    border-bottom: 1px solid gray;
    background: white;
    text-decoration: none;
    color: black;
}

.listing img {
    width: 100%;
}

.listing object {
    display: none;
}

.item-thumbnail {
    width: 180px;
}

	
/*@media screen and (max-width: 325px) {
    .logo { height: 40px; }
}

@media (max-width: 1010px) {
    .logo { height: 40px; }
}

@media (min-width: 1011px) {
    .logo { height: 100px; }
}*/
