<!-- create_view.html -->
{% extends 'wrap.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<!-- ROW 1 -->
	<div class="row">
		<div class="col-md-12"><a href="{% url 'badge_home' %}" class="btn btn-md btn-default" ><i class="fa fa-caret-left"></i> Badge Home</a> </div>
		
		<div class="col-md-8" style="padding: 10px">
			<div class="lead" style="background-color: #E6E6E6">{{ parent_object }}: Existing Awards </div>
			
			{% for i in current_objects %}
			<p>
				<span><i class="fa fa-caret-right"></i> </span>
				
				<span>{{ i.issuedOn|date:"d M Y" }}</span>
				<span><a class="btn btn-xs btn-default" href="{% url 'edit_award' i.id %}">Edit</a></span>
				<span>
					{% if not i.notification_status %}
						<a class="btn btn-xs btn-success" href="{% url 'send_award_email' i.id %}">Send Email</a>
					{% endif %}
				</span>
				
				<span>
					<a class="btn btn-xs btn-default" data-toggle="collapse" href="#detail_{{ i.id }}" aria-expanded="false" aria-controls="detail_{{ i.id }}">Detail</a>
				</span>
				<span>{{ i.firstname }} {{ i.lastname }} <strong>{{ i.email }}</strong></span>			
				<ul id="detail_{{ i.id }}" class="list-group list-group-success collapse">
					<li class="list-group-item"><strong>evidence: </strong> <a href="{{ i.evidence }}" target="_blank">{{ i.evidence }}</a></li>
					<li class="list-group-item"><strong>issued: </strong> {{ i.issuedOn }}</li>
					<li class="list-group-item"><strong>issued by: </strong> {{ i.creator }}</li>
					<li class="list-group-item"><strong>last modified: </strong> {{ i.modified }}</li>
					<li class="list-group-item"><strong>assertion: </strong><a href="{{ i.jsonfile }}"
					 target="_blank">{{ i.jsonfile }}</a></li>
					<li class="list-group-item"><strong>claim code: </strong> {{ i.claimCode }}</li>
					<li class="list-group-item"><strong>
						notication sent: </strong> {{ i.notification_status }} 
						<a class="btn btn-xs btn-success" href="{% url 'send_award_email' i.id %}">Send Email</a>
					</li>
					<li class="list-group-item text-right">
						{% comment %}<span class=""><a class="btn btn-xs btn-warning" href="{% url 'revoke_award' i.id %}">Revoke</a></span>{% endcomment %}
					</li>
				</ul>
			</p>
			{% endfor %}
			
		</div>

		
		
		<div class="col-md-4" style="padding: 10px">
			<div class="lead" style="background-color: #E6E6E6">{{ parent_object }}: Create {{ object_type }}</div>
			<div class="well" style="background: white">
				<form method="post">{% csrf_token %}
					{{ form|crispy }}
					<button type="submit">Add {{ object_type }}</button>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}