<!-- index-prototype.html -->
{% extends "wrap-content.html" %}
{% load staticfiles %}
{% load webdesign %}


{% block header_row %}
	{{ block.super }}

{% endblock header_row %}

{% block subheadlines %}
<div class="submenu"> 
	<ul class="nav nav-pills-flex">
		<li class="navy"><a href="/about" class="static_a_display">About</a></li>	
		<li class="red"><a href="/projects" class="static_a_display">Projects</a></li>
        <li class="blue"><a href="/publications" class="static_a_display">Publications</a></li>
		<li class="green"><a href="/events" class="static_a_display">Events </a></li>
		<li class="orange"><a href="/languages" class="static_a_display">Languages </a></li>
		<li class="blue"><a href="/publications/teaching-materials" class="static_a_display">Materials </a></li>
	</ul>
</div>
{% endblock subheadlines %}

{% block stories %}

{% for layer, featured_items in layers.items %}
	<p class="lead">{{layer|title|upper}}</p>
	<!-- <div class="container-fluid" style=" "> -->
		<div class="row">
			<div class="col-md-12 band{{forloop.counter}}">				
				{% for feature in featured_items %}
					{% if forloop.first == 1 %}
					
					<!-- style="background-image: url('{{MEDIA_URL}}img/{{feature.image}}'); background-repeat: no-repeat; background-size: cover;" -->
					<a href="{{ feature.get_absolute_url }}">
						<div class="brick listing listing-large" >
							<div class="row">
								<div class="col-md-12" style="" >
									<img src='{{MEDIA_URL}}img/{{feature.image}}' >
									<!-- style="background-color: black; opacity: .6;" -->
									<h1 style="color: black">{{ feature.title }}</h1>
									<h3 style="color: black">{{ feature.thumbnail_desc | safe  }}</h3>
								</div>	            
							</div>
						</div>
					</a>
					{% else %}
					<a href="{{ feature.get_absolute_url }}">
						<div class="brick listing shadowboxed">
							<p> <img src="{{MEDIA_URL}}img/{{feature.image}}"> </p>
							<h4>{{ feature.title | safe | truncatewords:8 }}</h4>
							<h5>{{ feature.thumbnail_desc | safe | truncatewords_html:10 }}</h5>
							<!--<p><span class="badge_container badge_{{ feature.classname }}">{{ feature.displayname }}</span></p>-->
			                <div style="bottom: 0; margin-bottom: 0;"><a href="/{% if feature.classname == 'prodev' %}events{% else %}{{ feature.classname }}{% endif %}" class="badge_container badge_{{ feature.classname }} static_a_display" style="text-transform:capitalize;">More 
							{% if feature.classname == 'prodev' %}Events{% else %}{{ feature.classname }}{% endif %}</a></div>
						</div>
					</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	<!-- </div> -->
{% if forloop.counter < 3 %} <a href=""><i class="fa fa-angle-down"></i></a>{% endif %}
{% endfor %}

{% endblock stories%}

{% block misc %} 

<!-- Sticky Featured -->
<hr style="color: #b4b4b4; border: 4px solid #b4b4b4;">
<div class="container-fluid">
	{% for feature in feature_sticky %}
		<a href="{{ feature.get_absolute_url }}">
				<div class="brick listing col-md-3">
				<p> <img src="{{MEDIA_URL}}img/{{feature.image}}"> </p>
				<h4>{{ feature.title | safe | truncatewords:8 }}</h4>
				<h5>{{ feature.thumbnail_desc | safe | truncatewords_html:140}}</h5>
				<p><a href="/{% if feature.classname == 'prodev' %}events{% else %}{{ feature.classname }}{% endif %}" class="badge_container badge_{{ feature.classname }} static_a_display" style="text-transform:capitalize;">More 
				{% if feature.classname == 'prodev' %}Events{% else %}{{ feature.classname }}{% endif %}</a></p>
			</div>
		</a>
	{% endfor %}
</div>
{% endblock misc %}

{% block customjavascript %}
jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var band1 = document.querySelector('.band1');
	var msnry = new Masonry( band1, {
	  // options
	  columnWidth: 230,	
	  itemSelector: '.brick',
	  gutter: 40,
	  isFitWidth: 'true',
	  originLeft: true
	});
	var band2 = document.querySelector('.band2');
	var msnry = new Masonry( band2, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.brick',
	  gutter: 40,
	  isFitWidth: true,
	});
	var band3 = document.querySelector('.band3');
	var msnry = new Masonry( band3, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.brick',
	  gutter: 40,
	  isFitWidth: 'true',
	});
})
{% endblock customjavascript %}