{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block local_css %}
	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="{% static 'wowslider/engine1/style.css' %}" />	
	<!-- End WOWSlider.com HEAD section -->
{% endblock local_css %}

{% block jumbotron %}
<div class="jumbotron">	
	<!-- Start WOWSlider.com -->
	<div id="wowslider-container1">
		<div class="ws_images">
			<ul>
				{% for headliner in headliners %} 
				<li><a href="{{ headliner.get_absolute_url }}">
					<img src="{{MEDIA_URL}}img/{{ headliner.getuid }}lg.png" alt="{{ headliner.title }}" title="{{ headliner.headline_tag }}" id="wows1_{{ forloop.counter0 }}"/>
				</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- End WOWSlider.com -->
</div>	
{% endblock jumbotron %}


{% block subheadlines %}
<ul class="nav nav-pills nav-justified"> 
	<a href="/publications"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">publications</li></div></a>
	<a href="/projects"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">projects</li></div></a>
	<a href="/publications/journals"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">journals</li></div></a>
	<a href="/workshops-conferences"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">workshops /<br> conferences</li></div></a>
	<a href="/languages"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">languages</li></div></a>
	<a href="/publications/monographs"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">monographs</li></div></a>
	<a href="/publications/teaching-materials"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">teaching<br>materials</li></div></a>
	<a href="#"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">collaborations</li></div></a>
</ul>
{% endblock subheadlines %}

{% block stories %}
<div class="container-fluid js-masonry" 
		data-masonry-options='{ 
			"itemSelector": ".listing",
			"gutter": 10,
			"isFitWidth": true
		}'>
	{% for feature in featured %}
	
		<a href="{{ feature.get_absolute_url }}">
			<div class="listing shadowboxed">
			<p> <img src="{{MEDIA_URL}}img/{{feature.getuid}}icon.png"> </p>
			<p> {{ feature.title | safe }}</p>	
			<p> {{ feature.description | safe | truncatewords_html:4 }} </p>
			</div>
		</a>
	
	{% endfor %}
</div>
{% endblock stories%}

{% block local_js %}
	<script type="text/javascript" src="{% static 'wowslider/engine1/wowslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'wowslider/engine1/script.js' %}"></script>
	<!-- Masonry for dynamic grid layout -->
	<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
{% endblock local_js %}