{% extends "wrap-item-display.html" %}
{% load staticfiles %}

{% block item-meta %}

	<!-- Icon -->
	<h2><img class="item-thumbnail" src="{{MEDIA_URL}}img/{{ item.image }}"></h2>

	<!-- Dynamic menu -->
	<ul class="nav nav-stacked"> <div id="toc"></div> </ul>

	<!-- Metadata items -->
	<ul class="nav nav-stacked">
	 	{% for name, value in item.customproperties %}
			<li>
				<div><span class="label label-default">{{ name }}</span></div>
				<div>

					{% if name == 'category' %}						
						<a href="/{{ item.classname }}/{{ shortcut }}">
							{{ item.category }}s
						</a>					
					{% elif name == 'url' %}
						{{ value|safe|urlizetrunc:30 }}
					{% else %}
						{{ value|safe }}	
					{% endif %}

				</div>
		  		
		  	</li>
		{% endfor %}   	
    </ul>

{% endblock item-meta %}

{% block item-content %}

	<h2>
		<a href="/{{ item.classname }}/{{ shortcut }}"><span class="glyphicon glyphicon-arrow-left"></span></a> {{ item.displayname | title}}
		<small> {{ shortcut | title }}</small>
	</h2>
	
	<h2>{{ item.title | safe }}</h2>
	
	<div id="item-content" >{{ item.description | safe }}</div>

{% endblock item-content %}



{% block customjavascript %}
	$(function() {
		/* dynamically create side menu based on h2 elements in div#item-content */
		$("#toc").tocify({ context: "#item-content", selectors: "h2", showEffect: "fadeIn", scrollTo: 120 });
	});
{% endblock customjavascript %}
