{% extends "wrap-item-display.html" %}
{% load staticfiles %}

{% block item-meta %}

	<!-- Icon -->
	<h2><img class="item-thumbnail" src="{{MEDIA_URL}}img/{{ item.image }}"></h2>
	
	<!-- Dynamic menu -->
	<ul class="nav nav-stacked"> <div id="toc"></div> </ul>

	<!-- Metadata items -->

	<ul id="meta-list" class="nav nav-stacked">
		
		{% if item.classname == 'publications' %}
			<li><div><i>Author(s)</i></div> </li>
			<li><div>{{ item.author }}</div></li>
			<li><div><i>Date</i></div></li>
			<li><div>{{ item.year }}</div> </li>
			<li><div><i>Access</i></div></li>
			<li><div>{{ item.url|urlizetrunc:25 }}</div></li>
			{% if item.oclc_url %}
			<li>
				<div style="height: 50px"><a href="{{ item.oclc_url }}"><img src="{{ MEDIA_URL }}img/logos/oclc-logo.png"/></a></div>
			</li>
			{% endif %}

			{% if item.ext_url %}
			<li><div><i>Website</i></div></li>
			<li><div>{{ item.ext_url|urlizetrunc:25 }}</div> </li>
			{% endif %}
		
		{% elif item.classname == 'prodev' %}
			<li><div><i>Date</i></div></li>
			<li><div>{{ item.date }}</div> </li>
			<li><div><i>Type</i></div></li>
			<li><div>{{ item.pdtype }}</div> </li>
			<li><div><i>Director</i></div></li>
			<li><div>{{ item.director|safe }}</div> </li>
			<li><div><i>Facilitator(s)</i></div></li>
			<li><div>{{ item.facilitator|safe }}</div> </li>
			<li><div><i>Publications</i></div></li>
			<li><div>{{ item.related_publication|safe }}</div> </li>
			<li><div><i>Web</i></div></li>
			<li><div>{{ item.url|urlizetrunc:25 }}</div> </li>
		
		{% elif item.classname == 'projects' %}
			<li><div><i>Grant Period</i></div></li>
			<li><div>{{ item.grant_cycle }}</div> </li>
			<li><div><i>Director</i></div></li>
			<li><div>{{ item.director|safe|urlizetrunc:25 }}</div> </li>		
		{% endif %}		 	
    </ul>

{% endblock item-meta %}

{% block item-content %}

	<h2>
		<a href="/{{ item.classname }}/"><small>{{ item.displayname | title}}</small></a>
		
		{% if shortcut %}
		<small><i>>></i></small>
		<a href="/{{ item.classname }}/{{ shortcut }}"><small>{{ shortcut | title }}</small></a>
		{% endif %}
	</h2>
	
	<h2>{{ item.title | safe }}</h2>
	{% if item.oclc_url %}<h4><span><img src="{{ MEDIA_URL }}img/logos/oer-logo.png" height="30px"/></span></h4>{% endif %}
	
	<div id="item-content" >{{ item.description | safe }}</div>

{% endblock item-content %}



{% block customjavascript %}
	$(function() {
		/* dynamically create side menu based on h2 elements in div#item-content */
		$("#toc").tocify({ context: "#item-content", selectors: "h2", showEffect: "fadeIn", scrollTo: 120 });
	});
{% endblock customjavascript %}
