{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block pageheading %}<div class="page-header"><h1>About Us<small></small></h1></div> {% endblock pageheading %}

{% block subheadlines %}
<ul class="nav nav-pills nav-justified"> 
	<a href="/story/1"><div class="col-xs-12 col-md-6"><li class="shadowboxed category"><h3>History</h3></li></div></a>
	<a href="/story/2"><div class="col-xs-12 col-md-6"><li class="shadowboxed category"><h3>Our Kuleana</h3></li></div></a>
</ul>
{% endblock subheadlines %}

{% block stories %}

	<div class="row">
		<div class="col-md-12">
			<h2></h2>
			<span class="badge">{{staff|length}}</span><span><a href="#staff"> Staff </a></span>
			<span> | </span>
			<span class="badge">{{collabs|length}}</span><span><a href="#collaborators"> Collaborator{{ collabs|length|pluralize }}</a></span>
			<span> | </span>
			<span class="badge">{{advboard|length}}</span><span><a href="#advboard"> Advisory Board</a></span>
		</div>
	</div>

	<p><h3 id="staff">Core Staff<small><a href="#top"> back to top</a></small></h3></p>
	<div id="dyno0" class="container">
		{% for i in staff %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/logos/default.png"> </p>
					<p>{{ i.first_name }} {{ i.last_name }} </p>	
				</div>
			</a>
		{% endfor %}		
	</div>

	<p><h3 id="collaborators">Collaborator{{ collabs|length|pluralize }}<small><a href="#top"> back to top</a></small></h3></p>
	<div id="dyno1" class="container">
		{% for i in collabs %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/logos/default.png"> </p>
					<h4>{{ i.first_name }} {{ i.last_name }} </h4>	
				</div>
			</a>
		{% endfor %}		
	</div>

	<p><h3 id="advboard">Advisory Board <small><a href="#top"> back to top</a></small></h3></p>
	<div id="dyno2" class="container">
		{% for i in advboard %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/logos/default.png"> </p>
					<p>{{ i.first_name }} {{ i.last_name }} </p>	
				</div>
			</a>
		{% endfor %}			
	</div>
{% endblock stories %}

{% block customjavascript %}
jQuery(window).on('load', function(){
	var $ = jQuery;
	var containers = ['#dyno0', '#dyno1', '#dyno2'];	
	for (i in containers) {
		containers[i] = document.querySelector(containers[i]);
		if(containers[i]) {			
			msnry = new Masonry( containers[i], {
			  // options
			  columnWidth: 230,
			  itemSelector: '.listing',
			  gutter: 40,
			  isFitWidth: 'true'
			});
		}
	}
})
{% endblock customjavascript %}
