{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block pageheading %}

   <h1>Contact the NFLRC</h1>   
   
   <address>
		<div><strong>National Foreign Language Resource Center</strong></div>
		<div>University of Hawaiʻi at Mānoa</div>
		<div>1859 East-West Road #106</div>
		<div>Honolulu HI 96822-2322 </div>
	
         <a href="tel:808-956-9424" class="static_a_display"><i class="fa fa-phone fa-6"></i> 808-956-9424</a> |  
        
        Fax: 808.956.5983 | 
        
        <a href="mailto:nflrc@hawaii.edu?Subject=From%20NFLRC%20Website" class="static_a_display"><i class="fa fa-envelope-o fa-6"></i> nflrc@hawaii.edu</a>  | <a href="{{MEDIA_URL}}img/NFLRCmapWEB-small.jpg" class="static_a_display"><i class="fa fa-map-marker fa-6"></i> Map</a>
	</address>
    
    
    
    
   
    
   
	

</div>

{% endblock pageheading %}

{% block subheadlines %}

	
 
<div class="l2_crumbs">
    
            <div class="submenu" style="float:left;">
          
            
            <ul class="nav nav-pills-flex">
              
              <li class="navy"><a href="#staff">Core Staff <span class="badge">{{staff|length}}</span></a></li>
              <li class="navy"><a href="#collaborators">Collaborators <span class="badge">{{collabs|length}}</span></a></li>
              <li class="navy"><a href="#advboard">Advisory Board <span class="badge">{{advboard|length}}</span></a></li>
              
            </ul>
            
            </div>
    </div>
    
    
{% endblock subheadlines %}


{% block stories %}

<h1 id="staff">Core Staff</h1>
	<div id="dyno1" class="container">
		{% for i in staff %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/{{ i.image }}"> </p>
					<h4>{{ i.first_name }} {{ i.last_name }} </h4>
					<h5>{{ i.staff_role }}</h5>
				</div>
			</a>
		{% endfor %}		
	</div>

<h2><a href="#top"><i class="fa fa-chevron-circle-up"></i></a></h2>
<h1 id="collaborators">Collaborator{{ collabs|length|pluralize }}</h1>
	<div id="dyno2" class="container">
		{% for i in collabs %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing listing-small shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/{{ i.image }}"> </p>
					<h4>{{ i.first_name }} {{ i.last_name }} </h4>
					{% if i.staff_role %}<h5>{{ i.staff_role }}</h5>{% endif %}
				</div>
			</a>
		{% endfor %}		
	</div>
    
    <h2><a href="#top"><i class="fa fa-chevron-circle-up"></i></a></h2>
<h1 id="advboard">Advisory Board</h1>
	<div id="dyno2" class="container">
		{% for i in advboard %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing listing-small shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/people/icon.png"> </p>
					<h4>{{ i.first_name }} {{ i.last_name }} </h4>
					{% if i.staff_role %}<h5>{{ i.staff_role }}</h5>{% endif %}
				</div>
			</a>
		{% endfor %}			
	</div>
    
{% endblock stories%}

{% block customjavascript %}
jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var container1 = document.querySelector('#dyno1');
	var msnry = new Masonry( container1, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 10,
	  isFitWidth: 'true'
	});

	var container2 = document.querySelector('#dyno2');
	var msnry = new Masonry( container2, {
	  // options
	  //columnWidth: 115,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
})
{% endblock customjavascript %}