<!-- l2-curator.html :  -->
{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block subheadlines %}{% endblock %}



{% block stories %}
<div id="modalwait" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
            <p id="spinwait"><i class="fa fa-spinner fa-4x fa-spin"></i></p> 
            <p>Updating layouts, hold tight!</p>
        </div>
      </div>
    </div>
</div>

<p class="">Flash feature = <strong>top ranked item</strong> | Sticky features = <strong>3 bottom ranked items</strong> <i>Click update rankings to save changes.</i></p>

<form id="ranker" method='post' action="{% url 'curator_update_rank' %}">{% csrf_token %}
    <p><input type="submit" value="update ranking" class="btn btn-lg btn-success"></p>
    <div class="gridrow">    
        <ul id="sortable" class="list-unstyled">            
            {% for item in featured %}
                <li class="gridcolumn" style="cursor:move;">                
                    <p>{{forloop.counter0}}</p>
                    <input type='hidden' name="{{item.classname}}.{{item.pk}}" class="featured" value="{{forloop.counter0}}"/>     
                    <p><img src="{{MEDIA_URL}}img/{{item.image}}"> </p>
                    <p>{{ item.title | safe | truncatewords:8 }}</p>               
                </li>
            {% endfor %}            
        </ul>
    </div>
</form>


		
{% endblock stories %}

{% block customjavascript %}

    $( function() {
        $("#sortable").sortable({
            revert: true
        });
        
        $("ul, li").disableSelection();
    }); 

    document.addEventListener('submit', e => {
        e.preventDefault();
        $(document.getElementById('modalwait')).modal("toggle");
        var form = e.target;
        var featured = $(".featured");
        
        for( var i = 0; i < featured.length; i++) {
            // Update rank value for each item
            featured[i].setAttribute("value", i);
        }
        form.submit();
      });

{% endblock customjavascript %}