{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block pageheading %}
<div class="page-header">
	<h1>
		<a href="#staff"><span class="badge badge_other_fill">staff</span></a> 
		<a href="#collaborators"><span class="badge badge_other_fill">collaborators</span></a>
	</h1>
	<div>
		<div>National Foreign Language Resource Center</div>
		<div>University of Hawaiʻi at Mānoa</div>
		<div>1859 East-West Road #106</div>
		<div>Honolulu HI 96822-2322 </div>
		<div>Phone: 808.956.9424; Fax: 808.956.5983 </div>
	</div>
</div>
{% endblock pageheading %}

{% block subheadlines %}{% endblock subheadlines%}

{% block stories %}
	<span id="staff" class="adjusted-anchor"></span>
	<p><h3>Core Staff <small><a href="#top"> <span class="glyphicon glyphicon-chevron-up"></span></a></small></h3></p>
	<div id="dyno1" class="container">
		{% for i in staff %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/people/{{ i.image }}"> </p>
					<p>{{ i.first_name }} {{ i.last_name }} </p>	
				</div>
			</a>
		{% endfor %}		
	</div>

	<span id="collaborators" class="adjusted-anchor"></span>
	<p><h3>Collaborator{{ collabs|length|pluralize }} <small><a href="#top"> <span class="glyphicon glyphicon-chevron-up"></span></a></small></h3></p>
	<div id="dyno2" class="container">
		{% for i in collabs %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/people/{{ i.image }}"> </p>
					<h4>{{ i.first_name }} {{ i.last_name }} </h4>	
				</div>
			</a>
		{% endfor %}		
	</div>
{% endblock stories%}

{% block customjavascript %}
jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var container1 = document.querySelector('#dyno1');
	var msnry = new Masonry( container1, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 10,
	  isFitWidth: 'true'
	});

	var container2 = document.querySelector('#dyno2');
	var msnry = new Masonry( container2, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
})
{% endblock customjavascript %}