<!-- l2-curator.html :  -->
{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block subheadlines %}{% endblock %}



{% block stories %}
<div id="modalwait" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
            <p id="spinwait"><i class="fa fa-spinner fa-4x fa-spin"></i></p> 
            <p>Updating layouts, hold tight!</p>
        </div>
      </div>
    </div>
</div>

{% if obj_type == 'home' %}
    <h3>Editing <a class="btn btn-md btn-primary" href="{% url 'homestead' %}"><i class="fa fa-angle-double-left"></i> home page</a> Layout </h3> 
    <p><i>Display ordering</i>: featured rank property of each item marked as "featured."</p>
    <p>Sorting this page affects the ordering of featured items on the home page. This ordering is also used to determine the structure of the home page layout as follows:</p>
    <p>Flash feature = <strong>top ranked item</strong> | Sticky features = <strong>5 bottom ranked items</strong> <i>Click update order to save changes.</i></p>

{% elif obj_type == 'projects' %}
    <h3>Editing <a class="btn btn-md btn-primary" href="{% url 'projects_index' %}"><i class="fa fa-angle-double-left"></i> projects</a> Layout </h3> 
    <p><i>Display ordering</i>: featured ==> then by default item listing ==> then by grant cycle (descending)</p>
    <p>Changing the order on this page updates the default item listing. <i>Click update order to save changes.</i></p>    

{% elif obj_type == 'events' %}
    <h3>Editing <a class="btn btn-md btn-primary" href="{% url 'events_index' %}"><i class="fa fa-angle-double-left"></i> events</a> Layout </h3> 
    <p><i>Display ordering</i>: featured ==> then date (descending) ==> then by default item listing</p>
    <p>Changing the order on this page updates the default item listing. Consider making an event story "featured" to make it appear before all others. <i>Click update order to save changes.</i></p>    

{% elif obj_type == 'publications' %}
    <h3>Editing <a class="btn btn-md btn-primary" href="{% url 'publications_index' %}"><i class="fa fa-angle-double-left"></i> publications</a> Layout </h3> 
    <p><i>Display ordering</i>: featured ==> then by publication year (descending) ==> then by default item listing</p>
    <p>Changing the order on this page updates the default item listing. Consider making a publication story "featured" to make it appear before all others. <i>Click update order to save changes.</i></p>
{% endif %}

<form id="ranker" method='post' action="{% if obj_type == 'home'%}{% url 'curator_update_feature_rank' %}{% else %}{% url 'curator_update_rank' %}{% endif %}">{% csrf_token %}
    <input type='hidden' name="obj_type" value="{{ obj_type }}"/> 
    <p><input type="submit" value="update order" class="btn btn-md btn-success"></p>
    <div class="gridrow">    
        <ul id="sortable" class="list-unstyled">            
            {% for item in items %}
                <li class="gridcolumn {% if item.featured %} bg-success {% endif %}" style="cursor:move;">            
                    <a href="{% url item.get_edit_url item.pk %}" class="btn btn-sm"><i class="fa fa-gear fa-gear-2x"></i></a>
                    {% if user.is_superuser %}
					<p class="small">{{forloop.counter0}} {{ item.grant_cycle }}</br>featured: {{ item.featured }}/{{item.featured_rank}} listing: {{ item.listing_rank }} pub: {{item.year}} date: {{item.datestamp}}</p>
				    {% endif %}
                    <input type='hidden' name="{{item.classname}}.{{item.pk}}" class="item_pos" value="{{forloop.counter0}}"/>     
                    <p><img src="{{MEDIA_URL}}img/{{item.image}}"> </p>
                    <p>{{ item.title | safe | truncatewords:8 }}</p>
                </li>
            {% endfor %}            
        </ul>
    </div>
</form>


		
{% endblock stories %}

{% block customjavascript %}

    $( function() {
        $("#sortable").sortable({
            revert: true
        });
        
        $("ul, li").disableSelection();
    }); 

    document.addEventListener('submit', e => {
        e.preventDefault();
        $(document.getElementById('modalwait')).modal("toggle");
        var form = e.target;
        var item_objs = $(".item_pos");
        
        for( var i = 0; i < item_objs.length; i++) {
            // Update rank value for each item
            item_objs[i].setAttribute("value", i);
        }
        form.submit();
      });

{% endblock customjavascript %}