{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block pageheading %}
	Contact <small><a href="#staff"><span class="badge">staff</span></a> <a href="#collaborators"><span class="badge">collaborators</span></a> </small>
{% endblock pageheading %}

{% block subheadlines %}{% endblock subheadlines%}

{% block stories %}
	<p><h3 id="staff">Core Staff<small><a href="#top"> back to top</a></small></h3></p>
	<div class="container js-masonry" 
		data-masonry-options='{ 
			"columnWidth": 230, 
			"itemSelector": ".listing",
			"gutter": 10,
			"isFitWidth": true
		}'>
		{% for i in staff %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{% static 'img/logos/default.png' %}"> </p>
					<p>{{ i.first_name }} {{ i.last_name }} </p>	
				</div>
			</a>
		{% endfor %}		
	</div>

	<p><h3 id="collaborators">Collaborator{{ collabs|length|pluralize }}<small><a href="#top"> back to top</a></small></h3></p>
	<div class="container js-masonry" 
		data-masonry-options='{ 
			"columnWidth": 230, 
			"itemSelector": ".listing",
			"gutter": 10,
			"isFitWidth": true
		}'>
		{% for i in collabs %}	
			<a href="{{ i.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{% static 'img/logos/default.png' %}"> </p>
					<p>{{ i.first_name }} {{ i.last_name }} </p>	
				</div>
			</a>
		{% endfor %}		
	</div>
{% endblock stories%}
