<!-- l2-curator.html :  -->
{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block subheadlines %}{% endblock %}



{% block stories %}
<div id="spin" class="col-md-2 col-md-offset-5 text-center loader" hidden></div>
<div class="col-md-8 col-md-offset-2">

<p class="">Flash feature = <strong>top ranked item</strong> | Sticky features = <strong>3 bottom ranked items</strong> <i>Click update rankings to save changes.</i></p>
<form id="ranker" method='post' action="{% url 'curator_update_rank' %}">{% csrf_token %}
    <p><input type="submit" value="update ranking" class="btn btn-lg btn-success"></p>
    <ul id="sortable" class="list-unstyled">
        {% for item in featured %}
            <li class="text-larger" style="cursor:ns-resize;"><p>
                <input type='hidden' name="{{item.classname}}.{{item.pk}}" class="featured" data-type="{{item.classname}}" data-rank="{{item.featured_rank}}" data-id="{{item.pk}}" value="{{forloop.counter0}}"/>
                <span class="btn btn-default btn-sm">{{forloop.counter0}}. {{item.title}}</span> <span class="badge badge-sm">{{item.displayname}}</span> <span class="label label-success label-sm">{{item.grant_cycle}}</span>
            </p></li>
        {% endfor %}
    </ul>
    
</form>
</div>


		
{% endblock stories %}

{% block customjavascript %}

    $( function() {
        $("#sortable").sortable({
            revert: true
        });
        
        $("ul, li").disableSelection();
    }); 

    document.addEventListener('submit', e => {
        e.preventDefault();
        document.getElementById('spin').toggleAttribute("hidden");
        var form = e.target;
        var featured = $(".featured");
        
        for( var i = 0; i < featured.length; i++) {
            // Update rank value for each item
            featured[i].setAttribute("value", i);
        }
        
        form.submit();      
        // fetch(form.action, {
        //     method: form.method,            
        //     body: new FormData(form)
        // })
        // .then(function(response) {
        //     return response.json();
        // })
        // .then(function(json_data) {
        //     console.log(JSON.stringify(json_data));
        //     document.getElementById('spin').setAttributeNS("hidden");
        // });      
      });

{% endblock customjavascript %}