{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block pageheading %}

<h4>
		<a href="/" class="static_a_display">Home</a> <i class="fa fa-angle-double-right"></i>
        <a href="/events" class="static_a_display">Events</a> </i>
        
       {% if pdtype_tag %}<i class="fa fa-angle-double-right"></i> <span class="badge badge_prodev_fill">{{events|length}}</span> 
		 {% if events.0.pdtype == 'symposium' %} 
		 	Symposia         	
         {% else %}
         	{{ events.0.pdtype|title }}s
         {% endif %} 
        
	{% endif %}	
      
        
</h4>

{% endblock pageheading %}

{% block subheadlines %}

<div class="submenu"> 
    <ul class="nav nav-pills-flex">
    <li class="{% if pdtype_tag == 'upcoming' %}green{% endif %}"><a href="{% url 'events' 'upcoming' %}">Upcoming</a></li>
    <li class="{% if pdtype_tag == 'conference' %}green{% endif %}"><a href="{% url 'events' 'conference' %}">Conferences</a></li>
    <li class="{% if pdtype_tag == 'institute' %}green{% endif %}"><a href="{% url 'events' 'institute' %}">Institutes</a></li>
    <li class="{% if pdtype_tag == 'online' %}green{% endif %}"><a href="{% url 'events' 'online' %}">Online</a></li>
    <li class="{% if pdtype_tag == 'symposium' %}green{% endif %}"><a href="{% url 'events' 'symposium' %}">Symposia</a></li>
    <li class="{% if pdtype_tag == 'workshop' %}green{% endif %}"><a href="{% url 'events' 'workshop' %}">Workshops</a></li>
	</ul>
</div>



{% endblock subheadlines %}

{% block stories %}
	{%if not pdtype_tag %}
		<div id="dyno_0" class="container dyno">
		{% for p in featured %}
			<a href="{{ p.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
					<h4>{{ p.title | safe | truncatewords:8 }}</h4>
					<h5>{{ p.thumbnail_desc | safe }}</h5>
                    <p><a href="/events" class="badge_container badge_prodev static_a_display">More Events</a></p>
				</div>
			</a>
		{% empty %}
			<h3>There are no featured items at this time.</h3>	
		{% endfor %}
		</div>
	{% else %}
	
		{% for p in events %}
			{% ifchanged p.pdtype %}
			{% if not forloop.first %}</div>{% endif %}
			{% if not pdtype_tag %}
				<h3><span id="{{ p.pdtype }}" class="adjusted-anchor"></span></h3>
				<p><h3>{% if p.pdtype == 'Symposium' %}Symposia{% else %}{{ p.pdtype }}s{% endif %}</h3></p>
			{% endif %}
				<div id="dyno_{{ forloop.counter0 }}" class="container dyno">				
			{% endifchanged %}
			<a href="{{ p.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
					<h4>{{ p.title | safe | truncatewords:8 }}</h4>
					<h5>{{ p.thumbnail_desc | safe }}</h5>
                    <p><a href="/events" class="badge_container badge_prodev static_a_display">More Events</a></p>
				</div>
			</a>
			{% if forloop.last %}</div>{% endif %}
		{% empty %}
			<h3>There were no {{ pdtype_tag }} events found.</he>	
		{% endfor %}
	
	{% endif %}
{% endblock stories %}

{% block customjavascript %}
jQuery(window).on('load', function(){
	var $ = jQuery;
	$( ".dyno" ).each(function( i ) {
		msnry = new Masonry($(this)[0], {
		  // options
		  columnWidth: 230,
		  itemSelector: '.listing',
		  gutter: 40,
		  isFitWidth: 'true'
		});
  	});
})
{% endblock customjavascript %}