{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block jumbotron %}
	{% if featured %}
	<div class="jumbotron">
		<p> <img src="{% static 'img/logos/default.png' %}">  </p>	
		<div class="row"><p> Featured: <span>{{ featured.0.title }}</span></p></div>
	</div>
	{% endif %}
{% endblock jumbotron %}

{% block pageheading %}
	Journals <small></small>
{% endblock pageheading %}

{% block subheadlines %}{% endblock subheadlines %}

{% block stories %}
	{% for p in journals %}
		<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">
				<p> <img src="{% static 'img/'|add:p.getuid|add:'icon.png' %}"> </p>
				<p> {{ p.description | safe | truncatewords_html:20 }} </p>
			</div>
		</a>
	{% endfor %}
{% endblock stories %}