{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block pageheading %}

<div class="submenu"> 
	<ul class="nav nav-pills-flex">	
		<li class="{% if language_name == 'chinese' %}orange{% endif %}"><a href="chinese">Chinese</a></li>
		<li class="{% if language_name == 'filipino' %}orange{% endif %}"><a href="filipino">Filipino</a></li>
		<li class="{% if language_name == 'japanese' %}orange{% endif %}"><a href="japanese">Japanese</a></li>
		<li class="{% if language_name == 'khmer' %}orange{% endif %}"><a href="khmer">Khmer</a></li>
		<li class="{% if language_name == 'korean' %}orange{% endif %}"><a href="korean">Korean</a></li>
		<li class="{% if language_name == 'samoan' %}orange{% endif %}"><a href="samoan">Samoan</a></li>
		<li class="gray">
			<div class="btn-group">
			  <a class="btn dropdown-toggle static_a_display" data-toggle="dropdown" href="#">
			    More Languages
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
				{% for i in language_list %}
    			<li><a href="{{ i|lower }}" class="static_a_display">{{ i }}</a></li>
    			{% endfor %}
			  </ul>			  
			</div>
		</li>
	</ul>	
</div>

{% endblock pageheading %}

{% block subheadlines %}
<div class="l2_crumbs">
	{% if language_name %} 
		<div class="submenu" style="float:left; margin-left:0px;">
			<h1>{{ language_name | title }}</h1>
			<ul class="nav nav-pills-flex">
				<li class="red"><a href="#projects">Project{{ projects|length|pluralize }} <span class="badge">{{projects|length}} </span></a></li>
				<li class="blue"><a href="#publications">Publications <span class="badge">{{publications|length}} </span></a></li>
				<li class="green"><a href="#prodev">Event{{ prodevs|length|pluralize }} <span class="badge">{{prodevs|length}} </span></a></li>
				<!-- <li class="gray"><a href="#people">People</a></li> -->
			</ul>
		</div>
	{% endif %}
</div>
	

{% endblock subheadlines %}





{% block stories %}

<!-- Default listing if language is not selected -->
{% if featured %}
	<div id="dyno0" class="container">
		{% for p in featured %}	
			<a href="{{ p.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
					<h4>{{ p.title | safe | truncatewords:8 }}</h4>
					<h5>{{ p.thumbnail_desc | safe }}</h5>
				</div>
			</a>
		{% endfor %}		
	</div>	
{% endif %}

{% if publications or prodevs or projects %}

	<span id="projects" class="adjusted-anchor"></span>
		<p><h1>Project{{ projects|length|pluralize }} involving {{ language_name|title }} language</h1></p>
		<div id="dyno2" class="container">
			{% for p in projects %}	
				<a href="{{ p.get_absolute_url }}">
					<div class="listing shadowboxed">
						<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
						<h4>{{ p.title | safe | truncatewords:8 }}</h4>
						<h5>{{ p.thumbnail_desc | safe }}</h5>	
					</div>
				</a>
			{% endfor %}		
		</div>
 
        
<h2><a href="#top"><i class="fa fa-chevron-circle-up"></i></a></h2>
	<div id="item-listing" class="col-md-12">
		<span id="publications" class="adjusted-anchor"></span>
		<h1>Publication{{ publications|length|pluralize }} </a> related to {{ language_name|title }} language</h1>
		<div id="dyno1" class="container">
			{% for p in publications %}	
				<a href="{{ p.get_absolute_url }}">
					<div class="listing shadowboxed">
						<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
						<h4>{{ p.title | safe | truncatewords:8 }}</h4>
						<h5>{{ p.thumbnail_desc | safe }}</h5>	
					</div>
				</a>
			{% endfor %}		
		</div>

	
		
<h2><a href="#top"><i class="fa fa-chevron-circle-up"></i></a></h2>
		<span id="prodev" class="adjusted-anchor"></span>
		<h1>Event{{ prodevs|length|pluralize }} related to {{ language_name|title }} language</h1>
		<div id="dyno3" class="container">
			{% for p in prodevs %}	
				<a href="{{ p.get_absolute_url }}">
					<div class="listing shadowboxed">
						<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
						<h4>{{ p.title | safe | truncatewords:8 }}</h4>
						<h5>{{ p.thumbnail_desc | safe }}</h5>
					</div>
				</a>
			{% endfor %}		
		</div>

	</div>
    
    
    
	<h2><a href="#top"><i class="fa fa-chevron-circle-up"></i></a></h2>
	<span id="people" class="adjusted-anchor"></span>
	<h1>People associated with {{ language_name|title }} language</h1>
	<div class="container">
	{% for p in people %}
		<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">
				<p> <img src="{{MEDIA_URL}}img/icon.png"> </p>
				<h4>{{ p.first_name }} {{ p.last_name }}</h4>
				<h5></h5>	
			</div>
		</a>
	{% endfor %}
	</div>

{% endif %}
{% endblock stories %}

{% comment %}
{% block local_js %}
	<script type="text/javascript" src="{% static 'wowslider/engine1/wowslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'wowslider/engine1/script.js' %}"></script>
{% endblock local_js %}
{% endcomment %}

{% block customjavascript %}
jQuery(window).on('load', function(){
	var $ = jQuery;
	var containers = ['#dyno0', '#dyno1', '#dyno2', '#dyno3'];
	console.log("Containers -> " + containers);
	for (i in containers) {
		containers[i] = document.querySelector(containers[i]);
		if(containers[i]) {			
			msnry = new Masonry( containers[i], {
			  // options
			  columnWidth: 230,
			  itemSelector: '.listing',
			  gutter: 40,
			  isFitWidth: 'true',
			});
		}
	}
})
{% endblock customjavascript %}