{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block jumbotron %}
	<div class="container-fluid jumbotron">
	{% if featured %}
		<h1>{{featured.0.title}}</h1>
		{% if featured.0.image %}<p><img src="{{STATIC_URL}}img/{{featured.0.classname}}/{{featured.0.image}}"></p>{% endif %}
	{% endif %}
	</div>
{% endblock jumbotron %}

{% block subheadlines %}
<ul class="nav nav-pills nav-justified"> 
	<a href="" class="navbar-link"><div class="col-xs-12 col-md-3"><li class="shadowboxed category">sub menu item</li></div></a>
</ul>
{% endblock subheadlines %}

{% block stories %}
	{% for p in items %}
		<a href="/{{p.classname}}/view/{{p.project_number}}">
			<div class="listing shadowboxed">
			<p> <img src="{% static 'img/logos/default.png' %}"> </p>
			<p>{{ p.title|safe }}</p>
			</div>
		</a>	
	{% endfor %}	
{% endblock stories %}