{% extends "wrap-content.html" %}

{% block jumbotron %}

	{% if featured %}
		<h1>{{featured.0.title}}</h1>
		<p><img src="{{STATIC_URL}}img/{{featured.0.classname}}/{{featured.0.image}}"></p>
	{% endif %}	

{% endblock jumbotron %}

{% block subheadlines %}

	<div class="row">
		<a href="/publications"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">View All</div></a>
		<a href="/journals"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">Journals</div></a>
		<a href="monographs"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">Monographs</div></a>
		<a href="teaching-materials"><div class="col-xs-12 btn btn-default btn-lg col-md-2 category shadowboxed">Teaching Materials</div></a>
		<a href="pragmatics"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">Pragmatics</div></a>
		<a href="networks"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">Networks</div></a>
		<a href="dvd"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">DVDs</div></a>
		<a href="cd"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">CDs</div></a>
		<a href="videotape"><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">Videotapes</div></a>
	</div>

{% endblock subheadlines %}

{% block stories %}

	{% for p in items %}
		<a href="/{{p.classname}}/view/{{p.item_number}}">
		<div class="listing shadowboxed">
			<p> <img src="{{STATIC_URL}}img/{{p.item_number}}sm.png"> </p>
			<p> {{ p.title | safe }}</p>	
			<p> {{ p.description | safe | truncatewords_html:4 }} </p>
		</div>
		</a>
	{% endfor %}
		
{% endblock stories %}