{% extends "wrap-content.html" %}
{% load staticfiles %}


{% block pageheading %}
<p>	Projects by grant cycle: 
		<a href="current">2010-2014</a> |
        <a href="2006-2010">2006-2010</a> |
		<a href="2002-2006">2002-2006</a> |
		<a href="1999-2002">1999-2002</a> |
		<a href="1996-1999">1996-1999</a> |
		<a href="1993-1996">1993-1996</a>
        </p>
        
 <h2 class="l2_crumbs">	
<span class="badge badge_projects_fill">{{ items|length }}</span>	
	{% if subpage %}			
				{{ subpage|title }}
			{% endif %} <a href="/projects" class="badge_projects">Projects</a>	
</h2>

{% endblock pageheading %}

{% block subheadlines %}
<div class="submenu"> 
	<ul>		 
    	<li><div class="buttonbox {% if subpage == 'projects' %}buttonbox_highlighted {% endif %}"><a href="/projects">All Projects</a></div></li>
		<li><div class="buttonbox {% if subpage == 'current' %}buttonbox_highlighted {% endif %}"><a href="current">Current</a></div></li>
		<li><div class="buttonbox {% if subpage == 'assessment' %}buttonbox_highlighted {% endif %}"><a href="assessment">Assessment </a></div></li>
		<li><div class="buttonbox {% if subpage == 'online learning' %}buttonbox_highlighted {% endif %}"><a href="online-learning">Online Learning</a></div></li>
       
		
	</ul>	
</div>
{% endblock subheadlines %}

{% block stories %}
	<div id="dyno" class="container">
	{% for p in items %}		
		<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">				
				<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
				<h4>{{ p.title | safe | truncatewords:8 }}</h4>
				<h5>{{ p.thumbnail_desc | safe | truncatewords_html:140 }}</h5>
				<p><span class="badge_container badge_{{ p.classname }}"> {{ p.displayname }} <small>({{ subpage }})</small> </span> </p>
			</div>		
		</a>		
	{% endfor %}
	</div>
{% endblock stories %}

{% block local_js %}{% endblock local_js %}

{% block customjavascript %}
jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var container = document.querySelector('#dyno');
	var msnry = new Masonry( container, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
})
{% endblock customjavascript %}
