{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block local_css %}
	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="{% static 'wowslider/engine1/style.css' %}" />	
	<!-- End WOWSlider.com HEAD section -->
{% endblock local_css %}

{% comment %}
{% block jumbotron %}
	{% if not subpage %}
		{% if featured %}	
		{% endif %}
	{% endif %}
{% endblock jumbotron %}
{% endcomment %}

{% block pageheading %}
<div class="page-header">		
	<h1>
	<small> 
		<a href="/publications/">Publications</a> >>
		{% if subpage %}			
			{{ subpage|title }}
		{% else %}
			Featured
		{% endif %} 
		<span class="badge">{{ items|length }}</span>
	</small>
	</h1>
</div>
{% endblock pageheading %}

{% block subheadlines %}  
<ul class="nav nav-pills nav-justified submenu">
	<a href="journals"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category {% if subpage == 'journals' %}active{% endif %}">Journals</li></div></a>
	<a href="monographs"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category">Monographs</li></div></a>
	<a href="teaching-materials"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category">Teaching Materials</li></div></a>
	<a href="pragmatics"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category">Pragmatics</li></div></a>
	<a href="networks"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category">Networks</li></div></a>
	<a href="media"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category">Physical Media</li></div></a>
	<a href="research-notes"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category">Research Notes</li></div></a>
	<a href="listing"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category">Full Listing</li></div></a>
</ul>
{% endblock subheadlines %}

{% block stories %}

{% if subpage|title != "Listing" %}

	<div id="dyno" class="container">
		{% for p in items %}

			<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">
				<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
				<h4>{{ p.title | safe | truncatewords:8 }}</h4>
				<h5>{{ p.thumbnail_desc | safe | truncatewords_html:140 }}</h5>	
			</div>
			</a>
			
		{% endfor %}
	</div>

{% else %} <!-- FULL LISTING -- NO ICONS -->

	<div class="container">
	{% for p in items %}
		{% ifchanged p.category %} <div class="row"><h3><small>{{ p.category }}</small> </h3></div> {% endifchanged %}
		<div class="row enchilada {% cycle 'shade' 'noshade' %}">
			<a href="{{ p.get_absolute_url }}">
			<div class="col-md-1">
				{{ p.year }}
			</div>
			<div class="col-md-3">
				{{ p.title | safe }}
			</div>
			<div class="col-md-8">
				{{ p.thumbnail_desc | safe | truncatewords_html:140 }}
			</div>
			</a>
		</div>
	{% endfor %}
	</div>

{% endif %}

{% endblock stories %}


{% block customjavascript %}

jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var container = document.querySelector('#dyno');
	var msnry = new Masonry( container, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
})
{% endblock customjavascript %}

