{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block local_css %}
	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="{% static 'wowslider/engine1/style.css' %}" />	
	<!-- End WOWSlider.com HEAD section -->
{% endblock local_css %}

{% block jumbotron %}
	{% if not subpage %}
		{% if featured %}	
		{% endif %}
	{% endif %}
{% endblock jumbotron %}

{% block pageheading %}
<div class="page-header">		
	<h1>
	{% if subpage %}<a href="/publications"><span class="glyphicon glyphicon-arrow-left"></span></a> {% endif %} Publications
	<small> 
		{% if subpage %}			
			{{ subpage|title }} 
		{% else %}
			Featured
		{% endif %} 
		<span class="badge">{{ items|length }}</span>
	</small>
	</h1>
</div>
{% endblock pageheading %}

{% block subheadlines %}  
<ul class="nav nav-pills nav-justified"> 
	<a href="journals"><div class="col-xs-12 col-md-3"><li class="shadowboxed category {% if subpage == 'journals' %}active{% endif %}"><h3>Journals</h3></li></div></a>
	<a href="monographs"><div class="col-xs-12 col-md-3"><li class="shadowboxed category"><h3>Monographs</h3></li></div></a>
	<a href="teaching-materials"><div class="col-xs-12 col-md-3"><li class="shadowboxed category"><h3>Teaching Materials</h3></li></div></a>
	<a href="pragmatics"><div class="col-xs-12 col-md-3"><li class="shadowboxed category"><h3>Pragmatics</h3></li></div></a>
	<a href="networks"><div class="col-xs-12 col-md-3"><li class="shadowboxed category"><h3>Networks</h3></li></div></a>
	<a href="media"><div class="col-xs-12 col-md-3"><li class="shadowboxed category"><h3>Physical Media</h3></li></div></a>
	<a href="research-notes"><div class="col-xs-12 col-md-3"><li class="shadowboxed category"><h3>Research Notes</h3></li></div></a>
	<a href="listing"><div class="col-xs-12 col-md-3"><li class="shadowboxed category"><h3>Full Listing</h3></li></div></a>
</ul>
{% endblock subheadlines %}

{% block stories %}

{% if subpage|title != "Listing" %}
	<div id="dyno" class="container">
		{% for p in items %}

			<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">
				<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
				<h4>{{ p.title | safe | truncatewords:8 }}</h4>
				<h4><small>{{ p.thumbnail_desc | safe | truncatewords_html:140 }}</small></h4>	
			</div>
			</a>
		{% endfor %}
	</div>
{% else %} <!-- FULL LISTING -- NO ICONS -->
	<div class="container">
	{% for p in items %}
		{% ifchanged p.category %} <div class="row"><h3><small>{{ p.category }}</small> </h3></div> {% endifchanged %}
		<div class="row enchilada {% cycle 'shade' 'noshade' %}">
			<a href="{{ p.get_absolute_url }}">
			<div class="col-md-1">
				{{ p.year }}
			</div>
			<div class="col-md-3">
				{{ p.title | safe }}
			</div>
			<div class="col-md-8">
				{{ p.thumbnail_desc | safe | truncatewords_html:140 }}
			</div>
			</a>
		</div>
	{% endfor %}
	</div>	
{% endif %}

{% endblock stories %}


{% block customjavascript %}
jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var container = document.querySelector('#dyno');
	var msnry = new Masonry( container, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
	var container2 = document.querySelector('#jumbo');
	var msnry = new Masonry( container2, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
})
{% endblock customjavascript %}

