{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block jumbotron %}
	{% if featured %}
	<div class="jumbotron">
		<p> <img src="{% static 'img/logos/default.png' %}">  </p>	
		<div class="row"><p> Featured: <span>{{ featured.0.title }}</span></p></div>
	</div>
	{% endif %}
{% endblock jumbotron %}

{% block pageheading %}
	Professional Development <small></small>
{% endblock pageheading %}

{% block subheadlines %}{% endblock subheadlines %}

{% block stories %}
	{% for p in items %}
		<a href="/{{p.classname}}/view/{{p.id}}">
			<div class="listing shadowboxed">
			<p> <img src="{% static 'img/logos/default.png' %}"> </p>
			<p>{{ p.title|safe }}</p>
			</div>
		</a>	
	{% endfor %}	
{% endblock stories %}