<!-- templates/l2-stories.html -->
{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block local_css %}
	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="{% static 'wowslider/engine1/style.css' %}" />	
	<!-- End WOWSlider.com HEAD section -->
{% endblock local_css %}

{% block jumbotron %}
	{% if false %}
	<div class="jumbotron">
		<!-- Start WOWSlider.com -->
		<div id="wowslider-container1">
			<div class="ws_images">
				<ul>
					{% for f in featured %} 
					<a href="{{ f.get_absolute_url }}"><li>
						<img src="{{MEDIA_URL}}img/{{ f.image }}" alt="{{ f.title }}" title="{{ f.headline_tag }}" id="wows1_{{ forloop.counter0 }}"/>
					</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- End WOWSlider.com -->
	</div>
	{% endif %}
{% endblock jumbotron %}

{% block pageheading %}
<div class="page-header"><h1>Stories <small></small></h1></div>
{% endblock pageheading %}

{% block subheadlines %}{% endblock subheadlines %}

{% block stories %}
	<div id="dyno" class="container">
	{% for p in items %}
		<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">
			<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
			<p> {{ p.title | safe | truncatewords:8 }}</p>	
			<p>{{ p.thumbnail_desc | safe | truncatewords_html:140 }}</p>
			</div>
		</a>	
	{% endfor %}
	</div>
{% endblock stories %}

{% block local_js %}
	<script type="text/javascript" src="{% static 'wowslider/engine1/wowslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'wowslider/engine1/script.js' %}"></script>
{% endblock local_js %}

{% block customjavascript %}
jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var container = document.querySelector('#dyno');
	var msnry = new Masonry( container, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
})
{% endblock customjavascript %}
