<!-- sample-page.html : use as template for LEVEL 2 PAGES -->

{% extends "wrap-content.html" %}

{% block jumbotron %}HEADLINE/FEATURED STORY HERE{% endblock jumbotron %}

{% block subheadlines %}

	<div class="row">
		<a href=""><div class="col-xs-12 col-md-2 btn btn-default btn-lg category shadowboxed">BUTTON_TEXT</div></a>
	</div>
		
{% endblock %}

{% block stories %}
	<a href="LINK_TO_THE_STORY">
	<div class="listing shadowboxed">
		{% if p.image %}<p> <img src="{{STATIC_URL}}img/STORY_IMG_HERE"> </p>{% endif %}
		<p> {{ STORY_TITLE_HERE | safe }}</p>	
		<p> {{ STORY_DESCRIPTION_HERE | safe | truncatewords_html:4 }} </p>
	</div>
	</a>	
{% endblock %}