<!-- templates/l2-stories.html -->
{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block pageheading %}
	<h2 class="l2_crumbs">
		<a href="/stories" class="badge_stories">Stories</a>
		<small>>{% if subpage %}			
				{{ subpage|title }}
			{% else %}
				Featured
			{% endif %} 
			<span class="badge badge_stories_fill">{{ items|length }}</span>
		</small>
	</h2>
{% endblock pageheading %}

{% block subheadlines %}{% endblock subheadlines %}

{% block stories %}
	<div id="dyno" class="container">
	{% for p in items %}
		<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">
				<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
				<h4>{{ p.title | safe | truncatewords:8 }}</h4>
				<h5>{{ p.thumbnail_desc | safe }}</h5>
			</div>
		</a>	
	{% endfor %}
	</div>
{% endblock stories %}

{% block local_js %}
	<script type="text/javascript" src="{% static 'wowslider/engine1/wowslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'wowslider/engine1/script.js' %}"></script>
{% endblock local_js %}

{% block customjavascript %}
jQuery(window).on('load', function(){ 
	var $ = jQuery;
	var container = document.querySelector('#dyno');
	var msnry = new Masonry( container, {
	  // options
	  columnWidth: 230,
	  itemSelector: '.listing',
	  gutter: 40,
	  isFitWidth: 'true'
	});
})
{% endblock customjavascript %}
