{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block jumbotron %}
	{% if featured %}
	<div class="jumbotron">
		<p> <img src="{{MEDIA_URL}}img/WORKSHOPS-CONFERENCESplaceholderIcon.png">  </p>	
		<div class="row"><p> Featured: <span>{{ featured.0.title }}</span></p></div>
	</div>
	{% endif %}
{% endblock jumbotron %}

{% block pageheading %}
	Workshops and Conferences <small></small>
{% endblock pageheading %}

{% block subheadlines %}{% endblock subheadlines %}

{% block stories %}
	<div class="container js-masonry" 
		data-masonry-options='{ 
			"columnWidth": 230, 
			"itemSelector": ".listing",
			"gutter": 10,
			"isFitWidth": true
		}'>
	{% for p in events %}
		{% ifchanged p.pdtype %}
			<p><h3 id="prodev">{{ p.pdtype }}<small><a href="#top"> back to top</a></small></h3></p>

		{% endifchanged %}
	
		<a href="{{ p.get_absolute_url }}">
			<div class="listing shadowboxed">
				<p> <img src="{{MEDIA_URL}}img/WORKSHOPS-CONFERENCESplaceholderIcon.png"> </p>
				<p> {{ p.description | safe | truncatewords_html:20 }} </p>
			</div>
		</a>
	{% endfor %}
	</div>
{% endblock stories %}