{% extends "wrap-content.html" %}
{% load staticfiles %}

{% block jumbotron %}
	{% if featured %}
	<div class="container-fluid">
	<!-- Start WOWSlider.com -->
	<div id="wowslider-container1">
		<div class="ws_images">
			<ul>
				{% for feature in featured %} 
				<li><a href="{{ feature.get_absolute_url }}">
					<img src="{{MEDIA_URL}}img/{{ feature.getuid }}lg.png" alt="{{ feature.title }}" title="{{ feature.headline_tag }}" id="wows1_{{ forloop.counter0 }}"/>
				</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	</div>
	<!-- End WOWSlider.com -->
	<!-- 
		<div class="row"><img src="{{MEDIA_URL}}img/{{ featured.0.getuid }}lg.png"></div>
		<div class="row"><p> Featured: <span>{{ featured.0.title }}</span></p></div>
	 -->
	{% endif %}
{% endblock jumbotron %}

{% block pageheading %}
<h2 class="l2_crumbs">	
	<a href="/prodev">Professional Development</a>
	{% if pdtype_tag %}
		<small> > {% if events.0.pdtype == 'Symposium' %}Symposia{% else %}{{ events.0.pdtype|title }}s{% endif %} <span class="badge badge_prodev_fill">{{events|length}}</span></small>
	{% endif %}	
</h2>
{% endblock pageheading %}

{% block subheadlines %}
<ul class="nav nav-pills nav-justified submenu"> 
	<a href="conference"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category {% if pdtype_tag == 'conference' %}badge_prodev shadowboxed{% endif %}">Conferences</li></div></a>
	<a href="institute"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category {% if pdtype_tag == 'institute' %}badge_prodev shadowboxed{% endif %}">Summer Institutes</li></div></a>
	<a href="workshop"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category {% if pdtype_tag == 'workshop' %}badge_prodev shadowboxed{% endif %}">Workshops</li></div></a>
	<a href="symposium"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category {% if pdtype_tag == 'symposium' %}badge_prodev shadowboxed{% endif %}">Symposia</li></div></a>
	<a href="online"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category {% if pdtype_tag == 'online' %}badge_prodev shadowboxed{% endif %}">Online</li></div></a>
	<a href="other"><div class="col-xs-12 col-sm-6 col-md-2"><li class="category {% if pdtype_tag == 'other' %}badge_prodev shadowboxed{% endif %}">Others</li></div></a>
</ul>
{% endblock subheadlines %}

{% block stories %}
	
		{% for p in events %}
			{% ifchanged p.pdtype %}
			{% if not forloop.first %}</div>{% endif %}
			{% if not pdtype_tag %}
				<h3><span id="{{ p.pdtype }}" class="adjusted-anchor"></span></h3>
				<p><h3>{% if p.pdtype == 'Symposium' %}Symposia{% else %}{{ p.pdtype }}s{% endif %}</h3></p>
			{% endif %}
				<div id="dyno_{{ forloop.counter0 }}" class="container dyno">				
			{% endifchanged %}
			<a href="{{ p.get_absolute_url }}">
				<div class="listing shadowboxed">
					<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>
					<h4>{{ p.title | safe | truncatewords:8 }}</h4>
					<h5>{{ p.thumbnail_desc | safe | truncatewords_html:140 }}</h5>
				</div>
			</a>
			{% if forloop.last %}</div>{% endif %}
		{% endfor %}
	
	
{% endblock stories %}

{% block customjavascript %}
jQuery(window).on('load', function(){
	var $ = jQuery;
	$( ".dyno" ).each(function( i ) {
		msnry = new Masonry($(this)[0], {
		  // options
		  columnWidth: 230,
		  itemSelector: '.listing',
		  gutter: 40,
		  isFitWidth: 'true'
		});
  	});
})
{% endblock customjavascript %}