{% extends "wrap-item-display.html" %}
{% load staticfiles %}



{% block item-meta %}
	<!-- Icon -->
	<h2><img class="item-thumbnail" src="{{MEDIA_URL}}img/people/{% if thehuman.image %}{{ thehuman.image }}{% else %}icon.png{% endif %}"></h2>

	<!-- Dynamic menu -->
	<ul class="nav nav-stacked"> <div id="toc"></div> </ul>

	<ul class="nav nav-stacked">
	 	
			<li>
				<li><div>{{ thehuman.get_role_display }}</div></li>
				<li><div>{{ thehuman.staff_role }} </div></li>
		  	</li>
		
    </ul>
{% endblock item-meta %}

{% block item-content %}
	<h2>{{ thehuman.first_name }}  {{ thehuman.last_name }}</h2>
	<div id="item-content" >
		<div>
			<ul class="nav nav-stacked">
				<li><div>{{ thehuman.university }} </div></li>
				<li><div>...more coming soon! </div></li>		
			</ul>
		</div>
		<div>{{ thehuman.bio | safe }}</div>
	</div>
{% endblock item-content %}

{% block customjavascript %}
	$(function() {
		/* dynamically create side menu based on h2 elements in div#item-content */
		$("#toc").tocify({ context: "#item-content", selectors: "h2", showEffect: "fadeIn", scrollTo: 120 });
	});
{% endblock customjavascript %}