{% extends "wrap-item-display.html" %}
{% load staticfiles %}



{% block item-meta %}
	<!-- Icon -->
	<h2><img class="item-thumbnail" src="{{MEDIA_URL}}img/people/{{ thehuman.image }}"></h2>

	<!-- Dynamic menu -->
	<ul class="nav nav-stacked"> <div id="toc"></div> </ul>

	<ul class="nav nav-stacked">
	 	{% for name, value in thehuman.customproperties %}
			<li>
				<div><span class="label label-default">{{ name }}</span></div>
		  		<div>{{ value|safe }}</div>
		  	</li>
		{% endfor %}   	
    </ul>
{% endblock item-meta %}

{% block item-content %}
	<h2>{{ thehuman.first_name }}  {{ thehuman.last_name }}</h2>
	<div id="item-content" >{{ thehuman.description | safe }}</div>
{% endblock item-content %}

{% block customjavascript %}
	$(function() {
		/* dynamically create side menu based on h2 elements in div#item-content */
		$("#toc").tocify({ context: "#item-content", selectors: "h2", showEffect: "fadeIn", scrollTo: 120 });
	});
{% endblock customjavascript %}