{% extends "wrap-item-display.html" %}
{% load staticfiles %}

{% block item-breadcrumbs %}{% endblock %}

{% block item-image %}

<div class="listing shadowboxed" style="margin-top:28px;">
<img class="item-thumbnail" src="{{MEDIA_URL}}img/{% if thehuman.image %}{{ thehuman.image }}{% else %}icon.png{% endif %}">
</div>

{% endblock %}

{% block item-meta %}
	<!-- Icon -->
	
<h1>{{ thehuman.first_name }}  {{ thehuman.last_name }}</h1>
	<!-- Dynamic menu -->
	<ul class="nav nav-stacked"> <div id="toc"></div> </ul>

	<ul class="nav nav-stacked">
	 	
			<li>
				<li><div>{{ thehuman.get_role_display }}</div></li>
				<li><div>{{ thehuman.staff_role }} </div></li>
                <li><div>{{ thehuman.university }} </div></li>
                {%if thehuman.phone %}<li><div><i class="fa fa-phone fa-6"></i> {{ thehuman.phone }} </div></li>{% endif %}
                {%if thehuman.email %}
                <li>
                	<div><i class="fa fa-envelope-o fa-6"></i> 
                		<a href="mailto:{{ thehuman.email }}" class="static_a_display">{{ thehuman.email }}</a> 
                	</div>
            	</li>
            	{% endif %}
                {%if thehuman.url %}
                	<li>
                		<div><i class="fa fa-globe fa-6"></i> 
                			<a href="{{ thehuman.url }}" class="static_a_display">{{ thehuman.url }}</a> 
                		</div>
                	</li>
                {% endif %}
		  	</li>
		
    </ul>
{% endblock item-meta %}

{% block item-content %}	
	
		<div style="margin-top:15px;">{{ thehuman.bio | safe }}</div>

{% endblock item-content %}



{% block customjavascript %}
	$(function() {
		/* dynamically create side menu based on h2 elements in div#item-content */
		$("#toc").tocify({ context: "#item-content", selectors: "h2", showEffect: "fadeIn", scrollTo: 120 });
	});
{% endblock customjavascript %}