{% extends "wrap-results.html" %}

{% block stories %}
	<p>{{publications|length}} Publication{{ publications|length|pluralize }}</p>
	<div id="subsection0">
	{% for p in publications %}	
		<div class="listing shadowboxed">
			{% if p.image %}<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>{% endif %}
			<a href="{{ p.get_absolute_url }}">{{p.title|safe}}</a>	
		</div>
	{% endfor %}
	</div>

	<p>{{projects|length}} Project{{ projects|length|pluralize }}</p>	
	<div id="subsection1">
	{% for p in projects %}
		<div class="listing shadowboxed">
			{% if p.image %}<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>{% endif %}
			<a href="{{ p.get_absolute_url }}">{{p.title|safe}}</a>	
		</div>
	{% endfor %}
	</div>

	<p>{{prodevs|length}} Professional Development Project{{ prodevs|length|pluralize }}</p>
	<div id="subsection2">
	{% for p in prodevs %}
		<div class="listing shadowboxed">
			{% if p.image %}<p> <img src="{{MEDIA_URL}}img/{{ p.image }}"> </p>{% endif %}
			<a href="{{ p.get_absolute_url }}">{{p.title|safe}}</a>	
		</div>
	{% endfor %}
	</div>

{% endblock %}

{% block customjavascript %}

jQuery(window).on('load', function(){
	var $ = jQuery;
	var containers = ['#subsection0', '#subsection1', '#subsection2'];	
	for (i in containers) {
		containers[i] = document.querySelector(containers[i]);
		if(containers[i]) {			
			msnry = new Masonry( containers[i], {
			  // options
			  columnWidth: 230,
			  itemSelector: '.listing',
			  gutter: 40,
			  isFitWidth: 'true'
			});
		}
	}
})
{% endblock customjavascript %}