{% extends "wrap.html" %}

{% block content %}
	<h1></h1>
    
	<div class="row">
		<div id="breadcrumbs-wrapper" class="col-sm-12 col-md-12"> {% block item-breadcrumbs %}{% endblock %}</div>
    </div>
    
    <div class="row">
		<div id="image-wrapper" class="col-sm-4 col-md-3  hide_from_printer"> {% block item-image %}{% endblock %}</div>
         
         
         <div id="meta-wrapper" class="col-sm-8 col-md-9"> {% block item-meta %}{% endblock %}</div>
      
    
        <div id="content-wrapper" class="col-sm-6 col-md-7 col-lg-7"> {% block item-content %}{% endblock %}</div>
       
	</div>
{% endblock content %}