{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block page_title %}NFLRC{% endblock page_title %}</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}img/NFLRCfavicon.ico"/>

    <!-- Google Fonts -->
    <!--  <link href='https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" >
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Auto generate toc's using tocify -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.tocify.css' %}" />
    <!-- Local Customizations -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/site.css' %}" media="all">

    {% block local_css %} {% endblock local_css %}
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37576537-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
<div id="wrap">


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
{% block header_row %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>    
        </div>
    </div> <!-- end row 1 -->

    <div class="row">
        <div class="col-sm-4 col-md-8">
            <div class="navbar-header">
                <div id="logo">
                    <a href="/"><img src="{{MEDIA_URL}}img/logos/NFLRC_name_UH_banner.png"></a>
                </div>
            </div>   
        </div>

        <div class="col-sm-8 col-md-4">
            <div class="navbar-collapse collapse navpanel">
                
                <ul  id="searchnav" class="nav navbar-nav navbar-right">
                    <li id="searchform">
                        <form method="get" action="/find" class="navbar-form navbar-left" role="search">
                            
                            
                            <div class="input-group">
                            
                              <input type="text" class="form-control" placeholder="Search" name="q">


                            </button>
                            </div>
                        </form>
                    </li> 
                </ul>
            </div><!-- .nav-collapse -->
        </div>
    </div> <!-- end row 2 -->

    <div id="sitemap_btn_panel" class="row" style="text-align: center">
        <div class="col-md-12">
            <div id="sitemap_btn" class="btn btn-default"> Explore <span id="sitemap_btn_toggle" class="glyphicon glyphicon-chevron-down"></span></div>
        </div>

    <div id="sitemap_panel" class="row shadowboxed" style="display: none">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h4 class="badge_container badge_about"><a href="/about">About</a></h4>
            <p><a href="/story/1">History</a></p>
            <p><a href="/story/2">Kuleana (mission)</a></p>
        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_projects"><a href="/projects">Projects</a></h4>
            <p><a href="/projects/current">Current Projects</a></p>
            <p><a href="/projects/assessment">Assessment</a></p>
            <p><a href="/projects/online-learning">Online Learning</a></p>
            
        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_publications"><a href="/publications">Publications</a></h4>
            <p><a href="/publications/digital-archives">Digital Archives</a></p>
            <p><a href="/publications/journals">Journals</a></p>
            <p><a href="/publications/media">Media</a></p>
            <p><a href="/publications/monographs">Monographs</a></p>
            <p><a href="/publications/pragmatics">Pragmatics</a></p>
        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_prodev"><a href="/events">Events</a></h4>
            <p><a href="/events/conference">Conferences</a></p>
            <p><a href="/events/institute">Summer Institutes</a></p>
            <p><a href="/events/symposium">Symposiums</a></p>
            <p><a href="/events/workshop">Workshops</a></p>
        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_contact"><a href="/contact">Contact</a></h4>
            <p><a href="{{MEDIA_URL}}img/NFLRCmapWEB-small.jpg" target="_blank">Map</a></p>
            <p><a href="/contact">People</a></p>
            <p><a href="mailto:nflrc@hawaii.edu">Web Admin</a></p>
        </div>
        <div class="col-md-1"></div>
    </div>

    </div> <!-- end row 3 -->
  
  </div> <!-- end .container-fluid -->
{% endblock header_row %}
</div> <!-- end .navbar -->

<!-- Main content -->
<div class="container-fluid">
    {% block content %} {% endblock content%}
</div>
</div> <!-- End content wrap -->

<div id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="row">
        <div class="socialnav col-md-12">
            <div style="font-size: 180%; padding-top:5px; text-align:center;">               
                    <a href="/contact" class="static_a_display separator" target="_self"><i class="fa fa-envelope-o fa-6"></i></a> 
                    <a href="https://www.facebook.com/NFLRC" class="static_a_display separator" target="_blank"><i class="fa fa-facebook fa-6"></i></a>
                    <a href="http://www.youtube.com/user/nflrchawaii" class="static_a_display separator" target="_blank"><i class="fa fa-youtube fa-6"></i></a>
                    <a href="https://www.linkedin.com/company/national-foreign-language-resource-center-nflrc-" class="static_a_display separator" target="_blank"><i class="fa fa-linkedin fa-6"></i></a>
                    <a href="http://www.twitter.com/NFLRC" class="static_a_display separator" target="_blank"><i class="fa fa-twitter fa-6"></i></a>   
                    <a href="http://www.pinterest.com/NFLRC" class="static_a_display separator" target="_blank"><i class="fa fa-pinterest fa-6"></i></a>    
                          
            </div>
        </div>
        
        

    </div>   
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- Include all compiled plugins (below), -->
<!-- Bootstrap -->
<script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Tocify -->
<script src="{% static 'js/jquery.tocify.min.js' %}"></script>
<!-- Masonry for dynamic grid layout -->
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<!-- NFLRC site javascript -->
<script src="{% static 'js/site.js' %}"></script>

<!-- Or include individual files as needed with this placeholder  -->
{% block local_js %} {% endblock local_js %}

<!-- Inline javascript placeholder -->
<script type="text/javascript">{% block customjavascript %}{% endblock customjavascript %}</script>

</body>
</html>
