{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block meta_block %}{% endblock meta_block %}


    <title>{% block page_title %}NFLRC{% endblock page_title %}</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/NFLRCfavicon.ico"/>

    <!-- Google Fonts -->
    <!--  <link href='https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" >
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Auto generate toc's using tocify -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.tocify.css' %}" />
    <!-- Local Customizations -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/site-2019.css' %}" media="all">

    {% block local_css %} {% endblock local_css %}
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37576537-2', 'auto');
      ga('send', 'pageview');

    </script>
<!--"Add This" Setup-->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54079f8001334926"></script>
</head>
<body>
{% block socialplugs %}{% endblock socialplugs %}

<div id="wrap">


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
{% block header_row %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div> <!-- end row 1 -->

    <div class="row">
        <div class="col-sm-4 col-md-8">
            <div class="navbar-header">
                <div id="logo">
                    <a href="/"><img src="{{MEDIA_URL}}img/logos/NFLRC_name_UH_banner.png"></a>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-4">
            <div class="navbar-collapse collapse navpanel">

                <ul  id="searchnav" class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'proto' %}"> <i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i> prototype <i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i></a></li>
                        <li><a href="{% url 'logout' %}"> <i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i> {{ user.username }} logout <i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i></a></li>
                    {% endif %}
                    <li>
                        <div class="input-group">
                            <button id="sitemap_btn" class="btn btn-default" style="margin-top: 8px"> Menu <i id="sitemap_btn_toggle" class="fa fa-bars"></i></button>
                        </div>
                    </li>
                    <li id="searchform">
                        <!--<div class="label label-sm">Search currently unavailable</div>-->
                         <form method="get" action="/search" class="navbar-form navbar-left" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="q">
                            </div>
                        </form>
                    </li>
                </ul>
            </div><!-- .nav-collapse -->
        </div>
    </div> <!-- end row 2 -->

    <div id="sitemap_panel" class="row shadowboxed" style="display: none">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h4 class="badge_container badge_about"><a href="/about">About</a></h4>
            <p><a href="/contact">Contact</a> (<a href="mailto:nflrc@hawaii.edu">Contact Web Admin</a>)</p>
            <p><a href="/about/1">History</a></p>
            <p><a href="/about/2">Kuleana (mission)</a></p>
            <p><a href="/contact">People</a></p>
            {% if user.is_authenticated %}
                <p><a href="{% url 'badge_home' %}">Badge Farm</a></p>
                <p><a href="/admin">Site Admin</a></p>
                <p><a href="{% url 'staffdocs_index' %}"><i class="fa fa-lock fa-6"></i> Secure Docs</a></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'login' %}"> <i class="fa fa-sign-in"></i> Staff Login </a></p>
            {% endif %}
        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_projects"><a href="/projects">Projects</a></h4>
            <p><a href="/projects/current">Current Projects</a></p>
            <p><a href="/projects/assessment">Assessment</a></p>
            <p><a href="/projects/online-learning">Online Learning</a></p>

        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_publications"><a href="/publications">Publications</a></h4>
            <p><a href="/publications/digital-archives">Archives</a></p>
            <p><a href="/publications/journals">Journals</a></p>
            <p><a href="/publications/teaching-materials">Materials</a></p>
            <p><a href="/publications/media">Media</a></p>
            <p><a href="/publications/monographs">Monographs</a></p>
            <p><a href="/publications/pragmatics">Pragmatics</a></p>
        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_prodev"><a href="/events">Events</a></h4>
            <p><a href="/events/conference">Conferences</a></p>
            <p><a href="/events/institute">Institutes</a></p>
            <p><a href="/events/online">Online</a></p>
            <p><a href="/events/symposium">Symposia</a></p>
            <p><a href="/events/workshop">Workshops</a></p>
        </div>
        <div class="col-md-2">
            <h4 class="badge_container badge_languages"><a href="/languages">Languages</a></h4>
            <p><a href="/languages/chinese">Chinese</a></p>
            <p><a href="/languages/filipino">Filipino</a></p>
            <p><a href="/languages/japanese">Japanese</a></p>
            <p><a href="/languages/khmer">Khmer</a></p>
            <p><a href="/languages/korean">Korean</a></p>
            <p><a href="/languages/samoan">Samoan</a></p>
        </div>
        <div class="col-md-1"></div>
    </div>

    </div> <!-- end row 3 -->

  </div> <!-- end .container-fluid -->
{% endblock header_row %}
</div> <!-- end .navbar -->

<!-- Main content -->
<div class="container-fluid">
    {% block content %} {% endblock content%}
</div>
</div> <!-- End content wrap -->

<div id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="row">
        <div class="socialnav col-md-12">
            <div style="font-size: 150%; padding-top:5px; text-align:center;">
             	    <small style="font-size: 0.2em; float: right"> &copy; 1994 - {% now "Y" %}</small>
                    <small><a href="/contact" class="static_a_display separator" target="_self">Contact</a> </small>
                    <a href="https://www.facebook.com/NFLRC" class="static_a_display separator" target="_blank"><i class="fa fa-facebook fa-6"></i></a>

                    <a href="https://www.linkedin.com/company/national-foreign-language-resource-center-nflrc-" class="static_a_display separator" target="_blank"><i class="fa fa-linkedin fa-6"></i></a>
                    <a href="https://www.youtube.com/user/nflrchawaii" class="static_a_display separator" target="_blank"><i class="fa fa-youtube fa-6"></i></a>
                    <a href="https://www.twitter.com/NFLRC" class="static_a_display separator" target="_blank"><i class="fa fa-twitter fa-6"></i></a>
                    <a href="/newswire" class="static_a_display separator"><i class="fa fa-rss fa-6"></i></a>
                    <a href="https://sites.google.com/a/hawaii.edu/nflrc-administration/" class="static_a_display separator" target="_blank"><i class="fa fa-lock fa-6"></i></a>
                    <small><a href="/about/5" class="static_a_display separator" target="_blank">Privacy</a></small>



            </div>
        </div>
    </div>
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- Include all compiled plugins (below), -->
<!-- Bootstrap -->
<script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Tocify -->
<script src="{% static 'js/jquery.tocify.min.js' %}"></script>
<!-- Masonry for dynamic grid layout -->
<!-- <script src="{% static 'js/masonry.pkgd.min.js' %}"></script> -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- NFLRC site javascript -->
<script src="{% static 'js/site.js' %}"></script>

<!-- Or include individual files as needed with this placeholder  -->
{% block local_js %} {% endblock local_js %}

<!-- Inline javascript placeholder -->
<script type="text/javascript">{% block customjavascript %}{% endblock customjavascript %}</script>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=849311455108932&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
