{% extends "wrap.html" %}

{% block content %}
	<h1></h1>

	<div class="row">
		<div id="breadcrumbs-wrapper" class="col-sm-12 col-md-12"> {% block item-breadcrumbs %}{% endblock %}</div>
    </div>

    <div class="row">
		<div id="image-wrapper" class="col-md-4 col-lg-2  hide_from_printer">
            {% block item-image %}{% endblock %}
        </div>


        <div id="meta-wrapper" class="col-md-8 col-lg-10">
            <div class="col-md-12">{% block item-meta %}{% endblock %}</div>
            <div id="content-wrapper" class="col-md-12"> {% block item-content %}{% endblock %}</div>
        </div>

	</div>
{% endblock content %}